{% load static %}
<div class="row question">
                    <div class="col-3">
                        <a href="{% url 'question' question_id=question.id %}"><img class="imageOfUserAnswerOrQuestion" src="{% static question.author.avatar.url %}"></a>
                        <div class="counterOfLikes">
                                <div style="margin:5px; display: inline-block;">{{ question.rating }}</div>
                                <button class="pageButton">&#8593;</button>
                                <button class="pageButton" style="margin-left: -7px;">&#8595</button>
                            </div>
                    </div>
                    <div class="col-9">
                        <div class="question-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></div>
                        <div class="question-text">{{ question.text }}</div>
                        <div>
                            <div class="answers-tags">
                                <a href="">answer ({{ question.answers.count }})</a>
                            </div>
                            <div class="answers-tags tags">
                            Tags:
                {% for tag in question.tags.all %}
                <a class="tag" href="{% url 'tag' s=tag %}">{{ tag }}</a>
                {% endfor %}
                            </div>


                        </div>
                    </div>

                </div>